<div>
  <ul>
    <% collection.toArray().reverse().forEach(function(day) { %>
      <li>
        <div class="date-link">
          <a href="#/days/<%= day.id %>"><%= day.escape("date") %></a>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
