<div class="rating-details">
  <div class="sleep-rating">
    <h3>Sleep Rating: <%= rating.sleep_rating %>
  </div>

  <div class="diet-rating">
    <h3>Diet Rating: <%= rating.diet_rating %>
  </div>

  <div class="exercise-rating">
    <h3>Exercise Rating: <%= rating.exercise_rating %>
  </div>

  <div class="social-rating">
    <h3>Social Rating: <%= rating.social_rating %>
  </div>
</div>
