<div id="landing-page-content">
  <div class="jumbotron description">
    <h1>What makes a good day?</h1>
    <p>
      <a class="btn btn-primary btn-lg" href="<%= new_user_registration_url %>">
        Sign up now to find out
      </a>
    </p>
    </p>
      <a class="login" href="<%= new_user_session_url %>">
        Continue your jounery
      </a>
    </p>
  </div>
</div>
