/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  background-color: #E8FFFB !important;
  color: #486B7F !important;
}

#days-summary {
}

#dates-index {
  height: 200px;
  overflow: scroll;
}

.date-link {
  text-align: center;
  padding: 5px;
}

.date-text {
  text-align: center !important;
  font-size: 30px !important;
  width: 50% !important;
}

.happ-brand {
  font-size: 30px !important;
}

a {
  color: #474F99 !important;
}

.navbar {
  background-color: #DCF2FF !important;
}

.jumbotron {
  background-color: #DCF2FF !important;
}

.btn-primary {
  background-color: #8FD6FF !important;
}

.panel {
  background-color: #DCF2FF !important;
  border-color: #9CA1CC !important;
  border: none !important;
}

.content {
  text-align: center;
}

.description {
  text-align: center;
  margin: 5%;
}

.date {
  text-align: center;
}

.rating-text {
  width: 45%;
}

.rating-info {
  text-align: center;
}

.rating-input {
  width: 200px;
}

.tooltip-inner {
  background-color: #9CA1CF !important;
}

.rating-input-field .tooltip-arrow {
  border-right-color: #9CA1CF !important;
}

.jumbotron .tooltip-arrow {
  border-bottom-color: #9CA1CF !important;
}

.back {
  text-align: center;
}

.navigation-arrows {
  text-align: center;
}

.navigation-arrows .left-arrow {
  margin-right: 20%;
}

.navigation-arrows .right-arrow {
  margin-left: 20%;
}

.navigation-arrows .arrow {
  background-color: transparent !important;
}

.single-day-graph {
  width: 50%;
  float: right;
}

ul {
  list-style-type: none;
}

@font-face {
    font-family: "xkcd" !important;
    src: url('http://antiyawn.com/uploads/Humor-Sans.ttf') !important;
}

#graph {
    font-family: "xkcd", sans-serif !important;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 75px;
}

text.title {
    font-size: 20px;
}

path {
    fill: none;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

path.axis {
    stroke: black;
}

path.bgline {
    stroke: white;
    stroke-width: 6px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
}

.x.axis path {
  display: none;
}
